h1,p
{
    text-align: center;
    color: white;
}
#a
{
    border: 10px solid green;
    margin: 0px;
    padding:0px;
    background-color: violet;
}
#b
{
    float right: ;
    width: 33%;
    
}